<h1 class="frontpage">myFitnessTracker</h1>

<br>
    <p><center><%= link_to 'Enter', controller: 'users' %></p>
  </div>
<br>
<img class="welcome" src="https://media.giphy.com/media/f4x85jt5JtcjK/giphy.gif"></center>
