/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.frontpage {
  color: grey;
  text-align: center;
  font-size: 75px;
  margin-top: 250px;
  font-family: 'Fredericka the Great';
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.second {
  color: dark-grey;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  font-family: 'Fredericka the Great';
}

.third {
  color: dark-grey;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  font-family: 'Fredericka the Great';
}

.user {
  color: red;
  text-align: center;
  font-family: 'Playball';
  font-size: 40px;
  margin-top: -25px;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.goals {
  color: red;
  text-align: center;
  font-family: 'Playball';
  font-size: 40px;
  margin-top: -25px;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
