/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.frontpage {
  color: grey;
  text-align: center;
  font-size: 75px;
  margin-top: 100px;
  font-family: 'Fredericka the Great';
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.second {
  color: dark-grey;
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
  font-family: 'Fredericka the Great';
}

.third {
  color: dark-grey;
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
  font-family: 'Fredericka the Great';
}

.user {
  color: red;
  text-align: center;
  font-family: 'Playball';
  font-size: 70px;
  margin-top: -25px;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.goals {
  color: red;
  text-align: center;
  font-family: 'Playball';
  font-size: 70px;
  margin-top: -25px;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 660px;
  length: 800px;
}

.centercrud {
  text-align: center;
}

aside:before {
  background: url(../images/starburst.png) center top no-repeat;
  background: url(data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…Q5OC40MDkgODY5LjcyNCw2ODAuOTY0IA0KCTU1Ni4zODgsNTQ0LjgxNSAiLz4NCjwvc3ZnPg0K) center top no-repeat;
  content: '';
  height: 921px;
  left: 50%;
  margin-left: -461.5px;
  position: fixed;
  top: 60px;
  width: 923px;
}
aside:before {
    -webkit-animation: spin 8s infinite linear;
    -moz-animation: spin 8s infinite linear;
    -ms-animation: spin 8s infinite linear;
    -o-animation: spin 8s infinite linear;
}
